
<div style="display: grid; grid-template-columns: 90vw;justify-content: center; padding-top: 10vh;">
  <mat-card style="display: grid; grid-template-columns: 1fr 1fr;">
    <div style="display:grid; grid-template-columns:0.5fr 0.3fr;">
    <div>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Nome da classe</mat-label>
        <input matInput type="text" [(ngModel)]="nomeClasse">
        <button *ngIf="nomeClasse" matSuffix mat-icon-button aria-label="Clear" (click)="nomeClasse=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Propriedades</mat-label>
        <input matInput type="text" [(ngModel)]="propriedade">
        <button *ngIf="propriedade" matSuffix mat-icon-button aria-label="Clear" (click)="propriedade=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
      <button style="height: 3rem;" mat-raised-button color="primary" (click)="adicionaPropriedade()" >Adicionar propriedade</button>
    </div>
<div >
  <span>Lista de propriedades</span>
  <div style=" max-height: 200px; overflow: auto;">
    <mat-list *ngFor="let item of listaPropriedades; let posicao =index"  role="list">

      <div style="display: grid; grid-template-columns: 0.6fr 0.2fr;">
        <mat-list-item role="listitem">{{item}}</mat-list-item><mat-icon style="cursor: pointer;" (click)="removerPropriedade(posicao)" >delete_forever</mat-icon>
      </div>


    </mat-list>
  </div>

</div>
    <button mat-raised-button color="primary" (click)="escreverArquivo()">Gerar Classe</button>

  </mat-card>

</div>
